.box{
     border: 2px solid black;
     width: 200px;
     height: 300px;
     border-radius: 20px;
     border-width: 30px;
     border-color:  rgb(84, 16, 148);
     border-left: none;
     border-right: none;
     text-align: center;
     display: inline-block;
     margin: 20px;
    }

    /* pseudo code */
    .box:hover{
        background-color: rgb(140, 140, 221);
        color: white;
    }
    .box2:hover{
        background-color: rgb(218, 102, 102);
        color: white;
    }
    .box3:hover{
        background-color: rgb(173, 215, 241);
        color: white;
    }
    .box4:hover{
        background-color: rgb(160, 226, 193);
        color: white;
    }

#box1_title{
    color: rgb(84, 16, 148);
}
.fa-globe{
    margin-top: 20px;
    color: rgb(84, 16, 148);
}
.box2{
    border-color: rgb(223, 10, 10);
}
.fa-rocket{
    margin-top: 20px;
    color: rgb(223, 10, 10);
}
#box2_title{
    color:  rgb(223, 10, 10);
}

.box3{
    border-color: blue;
}
#box3_title{
    color: blue;
}
.fa-mobile{
    margin-top: 20px;
    color: blue;
}
.box4{
    border-color: rgb(15, 228, 157);
}
#box4_title{
    color:rgb(15, 228, 157);
}
.fa-suitcase{
    margin-top: 20px;
    color: rgb(15, 228, 157);
}

#container{
    border: 5px solid black;
    width: 1000px;
    margin: 70px auto;
    border-radius:30px 0px 40px 0px ;
    box-shadow: 13px 10px 10px 5px  rgb(155, 146, 146); 
 }

